<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JianShu" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="utilities.Listeners.TestListener"/>
        <listener class-name="utilities.Listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Login">
        <classes>
            <class name="tests.LoginTest"></class>
        </classes>
    </test>
</suite>